CVEasy Front-End/cveasy-frontend/public/texlive/* linguist-documentation
CVEasy Front-End/cveasy-frontend/public/promisejs/* linguist-documentation
CVEasy Front-End/cveasy-frontend/public/texlive.js/* -linguist-documentation
