*.lua linguist-vendored
*.dat linguist-vendored
*.fd linguist-vendored
*.cmap linguist-vendored
*.lst linguist-vendored
*.tex linguist-vendored
*.sty linguist-vendored
*.cls linguist-vendored
*.dtx linguist-vendored
*.ltx linguist-vendored
*.bbl linguist-vendored
*.bbx linguist-vendored
*.cbx linguist-vendored
*.lbx linguist-vendored
*.dvi linguist-vendored
*.clo linguist-vendored
*.aux linguist-vendored
*.toc linguist-vendored
*.lof linguist-vendored
*.lot linguist-vendored
*.log linguist-vendored
*.idx linguist-vendored
*.ind linguist-vendored
*.ilg linguist-vendored
*.glo linguist-vendored
*.gls linguist-vendored
*.glg linguist-vendored
*.ist linguist-vendored
*.rtx linguist-vendored
*.bib linguist-vendored
*.bst linguist-vendored
*.cfg linguist-vendored
*.fd linguist-vendored
*.def linguist-vendored
*.ins linguist-vendored
